:root {
    // text
    --text: #030D19;
    --text-hover: var(--color-pri);
    --fw: 400;
    // background sub
    --back: white;
    // sub
    --textsub: var(--color-text);
    // font size
    --fz: 1.6rem;

    @include max(1470px) {
        --fz: 1.6rem;
    }
}

.hd-nav {
    .menu {
        &-nav {
            height: 100%;

            >.menu-list {
                height: 100%;
                justify-content: center;

                >.menu-item {
                    height: 100%;
                    @include flex;
                    align-items: center;

                    &:not(:first-child) {
                        margin-left: 6.4rem;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        // bottom: 4.5rem;
                        bottom: 0;
                        @include posi-horizontal;
                        height: 0.2rem;
                        background-color: $color-pri;
                        width: 0;
                        border-radius: 100px;
                        @include transitionRe;
                    }

                    @include min($res-mobile-min) {
                        &:hover {
                            &::before {
                                width: 2.4rem;
                            }
                        }
                    }

                    &:hover {
                        >.menu-link {
                            border-radius: .4rem;
                            color: $color-pri;
                        }

                        // .mega {
                        //     transform: translate(-50%, 0);
                        //     visibility: visible;
                        //     opacity: 1;
                        // }

                        // .mega-overlay {
                        //     @include show;
                        // }
                    }

                    >.menu-link {
                        height: 100%;
                        @include flex;
                        align-items: center;
                        @include fz-16;
                        color: var(--text);
                        padding: 1.35rem 0;
                    }

                    &.current_page_item,
                    &.current-menu-item,
                    &.current_page_parent,
                    &.current-menu-parent,
                    &.current-post-parent {
                        >.menu-link {
                            color: $color-pri;
                            font-weight: 700;
                        }

                        &::before {
                            width: 2.4rem;
                        }
                    }

                    >.menu-list {
                        top: calc(100% - 1rem);
                        border-radius: .4rem;

                        &::after {
                            content: '';
                            width: 0;
                            height: 0;
                            left: 1rem;
                            border-left: 1rem solid transparent;
                            border-right: 1rem solid transparent;
                            border-bottom: 0.8rem solid $color-white;
                            position: absolute;
                            bottom: 100%;
                        }
                    }
                }
            }
        }

        &-list {
            @include flex;
            align-items: center;
        }

        &-item {
            position: relative;
            @include transition(0.2s, ease-in-out);

            &:hover {
                >.menu-list {
                    @include min($res-mobile-min) {
                        @include show;
                    }

                    >.menu-item {

                        &.current_page_item,
                        &.current-menu-item,
                        &.current_page_parent,
                        &.current-menu-parent,
                        &.current-post-parent {
                            >a {
                                color: $color-pri;

                                >i {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }

            .menu-link {
                @include transition(0.2s, ease-in-out);

                i {
                    @include transition(0.2s, ease-in-out);
                }
            }

            >.menu-link {
                color: var(--text);
                font-weight: 500;
                display: block;
                font-size: 1.6rem;

                >i {
                    display: none;
                    font-weight: 600;
                    margin-left: 0.4rem;
                    @include fz-10;
                    margin-top: 0rem;
                }
            }

            &.dropdown {
                >a {
                    >i {
                        display: inline-block;
                    }
                }
            }

            >.menu-list {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 25rem;
                @include flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: #FAFAFA;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 10px;
                // border-radius: 0 0 1.6rem 1.6rem;
                @include transitionRe;

                // &:after {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 2px;
                //     background-color: $color-four
                // }
                @include min($res-mobile-min) {
                    @include hidden(0, 5px);
                }

                >.menu-item {
                    margin-left: 0;
                    width: 100%;

                    // &::after {
                    //     content: "";
                    //     position: absolute;
                    //     right: 0;
                    //     top: 0;
                    //     height: 100%;
                    //     width: 0.2rem;
                    //     background-color: $color-second;
                    //     @include transition(0.2s, ease-in-out);
                    //     opacity: 0;
                    // }
                    @include min($res-mobile-min) {
                        &:hover {
                            &::after {
                                opacity: 1;
                            }

                            >.menu-link {
                                border-radius: .4rem;
                                color: $color-white;
                                background-color: $color-pri;

                                >i {
                                    // color: white;
                                }
                            }
                        }
                    }

                    >.menu-link {
                        padding: 1rem;
                        @include flex;
                        align-items: center;
                        justify-content: space-between;

                        >i {
                            transform: rotate(-90deg) translate(5px, 0);
                            margin-top: 0.8rem;
                        }
                    }

                    >.menu-list {
                        left: 100%;
                    }
                }
            }
        }
    }
}

.mobile-nav {
    .menu {
        &-nav {
            >.menu-list {
                >.menu-item {

                    &.current_page_item,
                    &.current-menu-item,
                    &.current_page_parent,
                    &.current-menu-parent,
                    &.current-post-parent {
                        >a {
                            color: var(--text-hover);
                            // padding-left: 3rem;

                            &::after {
                                opacity: 1;
                            }
                        }
                    }

                    &:has(.current-menu-item) {
                        >a {
                            color: var(--text-hover);
                        }
                    }

                    >a {
                        padding: 1.2rem;
                        @include flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #303030;
                        font-size: 1.4rem;
                        font-weight: 600;
                        border-bottom: 1px solid $color-border-01;
                        position: relative;

                        // &::after {
                        //     content: '';
                        //     position: absolute;
                        //     background-image: url(../assets/images/la-dc-1.svg);
                        //     width: 1.5rem;
                        //     height: 1.5rem;
                        //     background-repeat: no-repeat;
                        //     background-size: contain;
                        //     background-position: center;
                        //     left: 1rem;
                        //     top: 1.4rem;
                        //     transform: rotate(-107deg);
                        //     opacity: 0;
                        // }

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        &-item {
            &.dropdown {
                >a {
                    >i {
                        display: flex;
                    }
                }
            }

            &.active {
                >a {
                    color: var(--text-hover) !important;

                    >i {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                position: relative;

                i {
                    width: 2rem;
                    height: 2rem;
                    @include mid-flex;
                    display: none;
                    @include transitionRe;
                }
            }

            >a {
                @include flex;
                align-items: center;
                justify-content: space-between;
                // padding: 1.2rem 1.2rem 1.2rem 2.4rem;
                padding: 1.2rem;
                font-size: 1.4rem;
                color: $color-text;
                font-weight: 500;
            }

            >.menu-list {
                display: none;
                margin-left: 1.6rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 2rem;
                    bottom: 2rem;
                    left: 0;
                    width: 1px;
                    background-color: $color-border-01;
                }

                >.menu-item {

                    &.current_page_item,
                    &.current-menu-item {
                        >a {
                            color: var(--text-hover);
                        }
                    }

                    &:has(.current-menu-item) {
                        >a {
                            color: var(--text-hover);
                        }
                    }
                }
            }
        }
    }
}

@keyframes menuLa {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}