// side
.sidefix {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 3rem;
    bottom: 12rem;
    z-index: 3;
    gap: 2rem;

    @include max(768px) {
        right: 1.5rem;
    }

    &-item {
        position: relative;
        padding: 0.5rem;
        background-color: var(--color-pri);
        border-radius: 100rem;
        @include mid-flex;
        cursor: pointer;

        &::after {
            @include pseudo;
            height: 100%;
            width: 100%;
            border-radius: inherit;
            border: 0.1rem solid var(--color-pri);
            animation: grows 4s linear infinite;
        }

        &::before {
            @include pseudo;
            height: 100%;
            width: 100%;
            border-radius: inherit;
            border: 0.1rem solid var(--color-pri);
            animation: grows 4s linear infinite;
            animation-delay: 2s;
        }

        &:hover {
            .sidefix-sub {
                transform: scale(1);
            }
        }
    }

    &-sub {
        position: absolute;
        background: var(--color-pri);
        right: calc(100% + 1rem);
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        bottom: 0;
        min-width: 20rem;
        transform: scale(0);
        transition: 0.4s;
        transform-origin: right bottom;

        &::before {
            @include pseudo;
            left: 100%;
            width: 1rem;
            height: 100%;
            top: 0;
        }

        &::after {
            @include pseudo;
            @include borderArrow(right, 0.5rem, var(--color-pri));
            left: 100%;
            bottom: 1.5rem;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 1rem;

            &:not(:first-child) {
                margin-top: 1.2rem;
            }

            img {
                width: 3.2rem;
                height: 3.2rem;
            }

            .text {
                font-size: 1.4rem;
                line-height: 1.2;

                &-name {
                    display: block;
                    color: white;
                    font-weight: 500;
                }

                &-link {
                    color: white;

                }

                @include hover {
                    .text-link {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &-link {
        width: 3rem;
        height: 3rem;
        @include mid-flex;

        img {
            width: inherit;
            height: inherit;
        }
    }

    transform: translate(100%, 0);
    opacity: 0;
    visibility: hidden;
    transition: all .4s linear;

    &.active {
        transform: translate(0%, 0);
        opacity: 1;
        visibility: visible;
    }
}

// text animation
.text-hori {
    .char {
        transition: 0.6s calc(var(--char-index) * 0.02s) ease-in-out;
        transform: translateX(4rem);
        opacity: 0;
    }

    &.is-inview {
        .char {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.text-verti {
    .char {
        transition: 0.6s calc(var(--char-index) * 0.02s) ease-in-out;
        transform: translateY(4rem);
        opacity: 0;
    }

    &.is-inview {
        .char {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.text-scale {
    .char {
        transition: 0.6s calc(var(--char-index) * 0.02s) ease-in-out;
        transform: scale(0);
        opacity: 0;
    }

    &.is-inview {
        .char {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.fx-letter {
    .char {
        transition: 0.6s calc(var(--char-index) * .015s) ease-in-out;
        transform: translate3d(80px, 50px, -300px) scaleY(0.01) rotateX(-90deg) rotateZ(-35deg);
        transform-origin: 0 100%;
        transform-style: preserve-3d;
        // transition: all 1.2s cubic-bezier(0.245, 0.495, 0.000, 0.990);
        opacity: 0;

        // @for $n from 1 through 100 {
        // &--#{$n} {
        //     transition-delay: .1s + (($n - 1) * .015s);
        // }
    }

    &.is-inview {
        .char {
            transform: translate3d(0, 0, 0) scaleY(1) rotateX(0) rotateZ(0);
            opacity: 1;
        }
    }
}


// count
.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid $color-border-01;
    border-radius: 0.8rem;
    width: fit-content;
    padding: 0.5rem;
    gap: 1rem;

    &-btn {
        width: 3rem;
        height: 3rem;
        @include mid-flex;
        cursor: pointer;
        border-radius: 0.4rem;
        transition: 0.4s;

        i {
            font-size: 1rem;
        }

        @include hover {
            background: var(--color-pri);
            color: white;
        }
    }
}

// mona-content
// .mona-content {
//     h3 {
//         @include fz-36;
//         font-weight: 600;
//     }

//     .note {
//         padding-left: 1rem;
//         border-left: 0.2rem solid var(--color-pri);

//         p {
//             color: var(--color-pri);
//             font-style: italic;
//             @include fz-14;
//         }
//     }

//     .quote {
//         padding-left: 3rem;
//         border-left: 0.2rem solid #F2794D;

//         p {
//             color: #F2794D;
//             font-style: italic;
//             @include fz-20;
//         }
//     }

//     blockquote {
//         margin: 0 !important;
//         padding-left: 3rem !important;
//         border-left: 0.2rem solid #F2794D !important;
//         background: transparent !important;

//         &::before {
//             content: none !important;
//         }

//         p {
//             color: #F2794D !important;
//             font-style: italic !important;
//             font-size: 2rem !important;
//         }
//     }

//     .wp-block-flex {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 2.4rem;

//         @include max(650px) {
//             gap: 1.2rem;
//         }

//         .wp-block-image {
//             width: calc(100% / 3 - (2.4rem - (2.4rem / 3)));

//             @include max(650px) {
//                 width: calc(100% / 2 - (1.2rem - (1.2rem / 2)));
//             }
//         }
//     }

//     .wp-block-image {
//         border-radius: 1.6rem;

//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }

// hover
.hover-rec {
    &::after {
        @include pseudo;
        @include full(0rem, 0rem, 0rem, 0rem);
        border: 0.1rem solid transparent;
        border-radius: inherit;
        transition: 0.2s;
        pointer-events: none;
    }

    @include hover {
        &::after {
            @include full(2%, 2%, 2%, 2%);
            border-color: var(--color-second);
        }
    }
}

// title
.title {
    .title-pri {
        @include fz-36;
        color: var(--color-text);
        font-weight: 600;

        &.t-white {
            color: white;
        }
    }

    .title-second {
        @include fz-36;
        font-weight: 600;
        padding-top: 1rem;
        position: relative;

        &::after {
            @include pseudo;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 0.4rem;
            width: 12rem;
            background: var(--color-pri);
        }
    }

    .title-sub {
        font-weight: 400;
        color: var(--color-text);
        margin: auto;
        max-width: 75rem;
    }
}

// checker
.checker {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    user-select: none;

    .sqr {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        position: relative;
        display: block;

        &::after {
            @include pseudo;
            width: 100%;
            height: 100%;
            background-image: url("../assets/images/check-empty.svg");
            @include default-background;
            left: 0;
            top: 0;
        }
    }

    .circle {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        position: relative;
        display: block;

        &::after {
            @include pseudo;
            width: 100%;
            height: 100%;
            background-image: url("../assets/images/radio-empty.svg");
            @include default-background;
            left: 0;
            top: 0;
        }
    }

    .txt {
        display: block;

        @include max(500px) {
            font-size: 1.4rem;
        }
    }

    input {
        display: none;
    }

    input:checked~.sqr {
        &::after {
            background-image: url("../assets/images/check-fill.svg");
        }
    }

    input:checked~.circle {
        &::after {
            background-image: url("../assets/images/radio-fill.svg");
        }
    }
}

// // list
// .prod-list {
//     @include max(1200px) {
//         --cg:1.2rem;
//         --rg:1.2rem;
//     }
//     @include max(700px) {
//         .col {
//             width: 50%;
//         }
//     }
// }
// // item
// .prod-item {
//     height: 100%;
//     .inner {
//         display: flex;
//         flex-direction: column;
//         border: 0.1rem solid #EDEDED;
//         border-radius: 0.4rem;
//         height: 100%;
//         .img {
//             width: 100%;
//             &-inner {
//                 @include imgPd(310,384);
//                 border-radius: 0.4rem;
//                 transition: 0.4s;
//                 img {
//                     @include imgContain;
//                 }
//             }
//         }
//         .info {
//             padding: 1rem;
//             overflow: hidden;
//             max-height: 7rem;
//             transition: 0.4s;
//             margin-top: auto;
//             &-flex {
//                 display: flex;
//                 align-items: center;
//                 padding-bottom: 0.8rem;
//                 position: relative;
//                 margin-bottom: 1rem;
//                 &::after {
//                     @include pseudo;
//                     width: 0%;
//                     height: 0.2rem;
//                     background: var(--color-pri);
//                     bottom: 0;
//                     left: 0;
//                     transition: 0.4s;
//                 }
//             }
//             &-tt {
//                 @include fz-20;
//                 font-weight: 600;
//                 color: var(--color-text);
//                 line-height: 1.2;
//                 @include lc(2);
//                 @include max(850px) {
//                     font-size: 1.6rem;
//                 }
//                 @include max(700px) {
//                     font-size: 1.4rem;
//                 }
//             }
//             i {
//                 width: 3.6rem;
//                 height: 3.6rem;
//                 display: block;
//                 flex-shrink: 0;
//                 font-size: 2.4rem;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 @include max(700px) {
//                     width: 2rem;
//                     height: 2rem;
//                     font-size: 1.5rem;
//                 }
//             }
//             &-des {
//                 @include lc(3);
//                 line-height: 1.2;
//                 @include max(700px) {
//                     font-size: 1.2rem;
//                 }
//             }
//         }
//         @include hover {
//             .img {
//                 &-inner {
//                     @include imgPd(211,384);
//                 }
//             }
//             .info {
//                 max-height: 15rem;
//                 &-flex {
//                     &::after {
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//         @include max(1200px) {
//             .img {
//                 &-inner {
//                     @include imgPd(310,384);
//                 }
//             }
//             .info {
//                 max-height: 15rem;
//                 &-flex {
//                     &::after {
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//     }
// }